In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [34]:
import pandas
df1=pandas.read_csv("supermarkets.csv",header=None)
df1

,0,1,2,3,4,5,6
0,ID,Address,City,State,Country,Name,Employees
1,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:

df2=pandas.read_json("supermarkets.json")
df1.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [17]:

df3=pandas.read_excel("supermarkets.xlsx",sheetname=0)
df3

ImportError: Install xlrd >= 0.9.0 for Excel support

In [11]:
install xlrd

SyntaxError: invalid syntax (<ipython-input-11-1892ba97d05d>, line 1)

In [15]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
    100% |████████████████████████████████| 112kB 199kB/s
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

In [25]:

df3=pandas.read_excel("supermarkets.xlsx",sheetname=0)
df3

/home/dsp/.local/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [19]:
import xlrd

ModuleNotFoundError: No module named 'xlrd'

In [22]:
 !pip3 install xlrd

Collecting xlrd
  Using cached https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

In [27]:

df4=pandas.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [28]:

df5=pandas.read_csv("supermarkets-semi-colons.txt",sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [29]:
df5.pandas.read_csv?

Object `df5.pandas.read_csv` not found.

In [30]:
pandas.read_csv?

In [32]:
df6=pandas.read_csv("http://2018nitm.nitmeghalaya.in/")
df6

ParserError: Error tokenizing data. C error: Expected 1 fields in line 7, saw 2

In [35]:
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [36]:
df6.set_index("City")

,ID,Address,State,Country,Name,Employees
City,,,,,,
San Francisco,1,3666 21st St,CA 94114,USA,Madeira,8
San Francisco,2,735 Dolores St,CA 94119,USA,Bready Shop,15
San Francisco,3,332 Hill St,California 94114,USA,Super River,25
San Francisco,4,3995 23rd St,CA 94114,USA,Ben's Shop,10
San Francisco,5,1056 Sanchez St,California,USA,Sanchez,12
San Francisco,6,551 Alvarado St,CA 94114,USA,Richvalley,20

In [37]:
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [44]:
df6.ioc[0,:]

            City             State Country         Name  Employees
1  San Francisco          CA 94119     USA  Bready Shop         15
2  San Francisco  California 94114     USA  Super River         25
3  San Francisco          CA 94114     USA   Ben's Shop         10
4  San Francisco        California     USA      Sanchez         12
5  San Francisco          CA 94114     USA   Richvalley         20

In [59]:
df6.ix[5,"Name"]

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'Richvalley'

In [67]:
df6.drop(df6.index[1:4],0)

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [76]:
df6.drop(df6.columns[1:3],1)

   ID             State Country         Name  Employees
0   1          CA 94114     USA      Madeira          8
1   2          CA 94119     USA  Bready Shop         15
2   3  California 94114     USA  Super River         25
3   4          CA 94114     USA   Ben's Shop         10
4   5        California     USA      Sanchez         12
5   6          CA 94114     USA   Richvalley         20

In [78]:
df6.drop("Name",1)

   ID          Address           City             State Country  Employees
0   1     3666 21st St  San Francisco          CA 94114     USA          8
1   2   735 Dolores St  San Francisco          CA 94119     USA         15
2   3      332 Hill St  San Francisco  California 94114     USA         25
3   4     3995 23rd St  San Francisco          CA 94114     USA         10
4   5  1056 Sanchez St  San Francisco        California     USA         12
5   6  551 Alvarado St  San Francisco          CA 94114     USA         20

In [81]:
len(df6.index)

6

In [110]:
df6["Name"]="north america "
df6

,ID,Address,City,State,Country,Name,Employees,continent,Madeira
0,1,3666 21st St,San Francisco,CA 94114,USA,north america,8,"north america ,USA",north america
1,2,735 Dolores St,San Francisco,CA 94119,USA,north america,15,"north america ,USA",north america
2,3,332 Hill St,San Francisco,California 94114,USA,north america,25,"north america ,USA",north america
3,4,3995 23rd St,San Francisco,CA 94114,USA,north america,10,"north america ,USA",north america
4,5,1056 Sanchez St,San Francisco,California,USA,north america,12,"north america ,USA",north america
5,6,551 Alvarado St,San Francisco,CA 94114,USA,north america,20,"north america ,USA",north america
6,6,add,knp,up,ind,north america,12,as,north america

In [97]:
df6

,ID,Address,City,State,Country,Name,Employees,continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,north america
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,north america
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,north america
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,north america
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,north america
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,north america

In [ ]:
df

In [94]:
df6.shape[2]

IndexError: tuple index out of range

In [16]:
dft=df6.T

NameError: name 'df6' is not defined

In [101]:
dft

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
continent,"north america ,USA","north america ,USA","north america ,USA","north america ,USA","north america ,USA","north america ,USA"

In [111]:
dft[4]=[6,"add","knp","up","ind","dsp",12,"as"]

In [15]:
df6=dft.T
df6

NameError: name 'dft' is not defined

In [3]:
!pip3 install geopy

Collecting geopy
  Using cached https://files.pythonhosted.org/packages/17/76/bb7afe76230a37ed75d7cfb8cd6481af75f2048778047e4e424bf1ffb00e/geopy-1.15.0-py2.py3-none-any.whl
Collecting geographiclib<2,>=1.49 (from geopy)
  Using cached https://files.pythonhosted.org/packages/5b/ac/4f348828091490d77899bc74e92238e2b55c59392f21948f296e94e50e2b/geographiclib-1.49.tar.gz
Building wheels for collected packages: geographiclib
  Running setup.py bdist_wheel for geographiclib ... - \ | done
  Stored in directory: /home/dsp/.cache/pip/wheels/99/45/d1/14954797e2a976083182c2e7da9b4e924509e59b6e5c661061
Successfully built geographiclib
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.49 geopy-1.15.0

NameError: name 'sys' is not defined

In [7]:
import sys

In [8]:
sys.executable

'/usr/bin/python3'

In [9]:
sys.path

['',
 '/usr/lib/python36.zip',
 '/usr/lib/python3.6',
 '/usr/lib/python3.6/lib-dynload',
 '/home/dsp/.local/lib/python3.6/site-packages',
 '/usr/local/lib/python3.6/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/lib/python3.6/dist-packages',
 '/usr/lib/python3/dist-packages/IPython/extensions',
 '/home/dsp/.ipython']

In [11]:
import difflib

In [4]:
import geopy
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [66]:
from geopy.geocoders import Nominatim

In [67]:
nom=Nominatim(scheme="http")

In [14]:
df6

NameError: name 'df6' is not defined

In [17]:
import pandas
df6=pandas.read_csv("supermarkets.csv")
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [131]:
n=nom.geocode("3666 21st St ,San Francisco ,CA 94114")
n.latitude

37.756488877551

In [139]:
df.Coordinates[0].latitude

37.756488877551

In [169]:
n=nom.geocode("3666 21st St ,San Francisco ,CA 94114")
n

GeocoderTimedOut: Service timed out

In [150]:
df1=df
df1

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [152]:
df1

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [165]:
df1

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [173]:
df1.Coordinates[0]

Location(3666, 21st Street, Noe Valley, SF, California, 94114, United States of America, (37.756488877551, -122.429343346939, 0.0))

In [182]:
p=df["Coordinates"].apply(lambda x: x.latitude if x!=None else "dsp")

In [183]:
print(p)

0    37.7565
1        dsp
2    37.7557
3     37.753
4    37.7521
5    37.7537
Name: Coordinates, dtype: object

In [184]:
type(p)

pandas.core.series.Series

In [181]:
df1

,ID,Address,City,State,Country,Name,Employees,Coordinates,latti
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.7565
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None,dsp
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.7557
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.753
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.7521
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.7537

In [178]:
df1

,ID,Address,City,State,Country,Name,Employees,Coordinates,latti
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.755725
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673

In [176]:
df1["Coordina"]=df1["Address"].apply(nom.geocode)
df1

GeocoderTimedOut: Service timed out